html, body {
    margin: 0;
    font-size: 15px;
    font-family: arial sans-serif;
   
}


/* Navigation */

.nav-title {
    height: 64px;
    background-color: #400E32;
    color:#F2921D;
    display: flex;
    align-items: center;
    font-size:small;
    justify-content:space-around;

   
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 1rem;
    letter-spacing: 0.7rem;
    
}

.nav-title .ul-title {
    display: flex;
    align-items: stretch;
    height: 100%;
    font-weight: bold;
}

.nav-title .ul-title .li-title {
    list-style: none;
    height: 100%;
}

.nav-title .ul-title .li-title a {
    text-decoration: none;
    color: #F2921D;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-title .ul-title .li-title a:hover {
    color: #400E32;
    background-color:#F2921D;
}

/* Errors */

.error {
    border: 2px solid #b71f26;
    background-color: #c64249;
    color: white;
    margin: 1rem auto;
    width: 22vw;
    padding: 0.5rem;
}                        

footer {
    background-color: #f2cc9f ;   
    font-weight: bold;
    position: fixed;   
    bottom: 0;
    width: 100%; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;  

}

.principal-title{  
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    font-size: 2rem;   
    color:#400E32;
    margin: 10px;

}

.ul-liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;   

}

.li-liste{
    display: flex;
    justify-content: space-around;   
    align-items: center;   
    text-align: center; 
    border: solid 2px #FFBF9B; 
    border-radius: 2%;    
    width: 90vw;
    background-color:#F2CD5C ;
    border: 1px solid black;

}

.p-liste{   
    margin: 5px;   
}

.h-liste{
   
    font-size: 1.6rem;
    margin: 1.2rem;
    color: #400E32;   
}

.a-liste{
    margin: 5px;
}

.a-liste:hover{   
    background-color: #FFBF9B;
  
}
.form-magic {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: #A61F69 ;
    border: 1px solid #400E32;
    margin: auto;   
    padding: 20px;
    margin: auto;   
  }
  
  
  input[type=submit] {     
      width: 150px;
      padding: 10px;   
      border:1px solid #FFBF9B;
      border-radius:5px; 
      width:120px;
      box-shadow:1px 1px 1px #400E32;
      cursor:pointer;   
      
    }

    input[type=submit]:focus{
        background-color: #400E32;
        color:#FFBF9B;
    }


    .input {
      display: flex;
      align-items: center;
      justify-content: center;
     
    }
    
    input:focus  {
      background: #F2921D;
    }   
    textarea:focus {
        background: #F2921D;
    }
    select:focus {
        background: #F2921D;
    }

    label {
      width: 100px;
      display: inline-block;
      vertical-align: top;
      margin: 5px;
      font-weight: bolder;
    }

    .div-show{
        display: flex;
        flex-direction: column; 
        margin: auto;         
        text-align: center; 
        border: solid 2px #F2CD5C; 
        border-radius: 2%;    
        width: 30vw;
        background-color: #F2CD5C;
        border: 1px solid #400E32;

    }
    .confirmation{
        font-weight: bolder;
    }

    .h2-search{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
  
